In [1]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'apple', 'pear', 'orange'}

In [3]:
set1 = set((1, 2, 3))
print(set1)

{1, 2, 3}

In [4]:
for item in basket:
    print(item)

banana
apple
pear
orange

In [5]:
print('apple' in basket)

True

In [6]:
basket = {'apple', 'orange', 'banana'}
basket.add('apricot')
print(basket)

{'banana', 'apple', 'apricot', 'orange'}

In [7]:
basket = {'apple', 'orange', 'banana'}
basket.update(['apricot', 'mango', 'grapefruit'])
print(basket)

{'apple', 'orange', 'grapefruit', 'apricot', 'mango', 'banana'}

In [8]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange','banana'}
print(len(basket)) # generates 4

4

In [9]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange','banana'}
print(basket)
basket.remove('apple')
basket.discard('apricot')
print(basket)

{'banana', 'apple', 'pear', 'orange'}
{'banana', 'pear', 'orange'}

In [10]:
basket = {'apple', 'orange', 'banana'}
basket.clear()
print(basket)

set()

In [11]:
s1 = { (1, 2, 3)}
print(s1)

{(1, 2, 3)}

In [14]:
# Can't have the following
#s2 = { {1, 2, 3} }
#print(s2)
s3 = { [1, 2, 3] }
print(s3)

TypeError: unhashable type: 'list'

In [15]:
# Need to convert sets and lists into frozensets
s2 = { frozenset ({1, 2, 3}) }
print(s2)
s3 = { frozenset ([1, 2, 3]) }
print(s3)

{frozenset({1, 2, 3})}
{frozenset({1, 2, 3})}

In [16]:
s1 = {'apple', 'orange', 'banana'}
s2 = {'grapefruit', 'lime', 'banana'}
print('Union:', s1 | s2)

Union: {'grapefruit', 'apple', 'orange', 'banana', 'lime'}

In [17]:
print('Intersection:', s1 & s2)

Intersection: {'banana'}

In [18]:
print('Difference:', s1 - s2)

Difference: {'apple', 'orange'}

In [19]:
print('Symmetric Difference:', s1 ^ s2)

Symmetric Difference: {'apple', 'orange', 'grapefruit', 'lime'}

In [20]:
# Set up sets
exam = { 'Andrew' , 'Kirsty' , 'Beth' , 'Emily' , 'Sue' }
project = { 'Kirsty' , 'Emily' , 'Ian' , 'Stuart' }
# Output the basic sets
print( 'exam:' , exam)
print( 'project:' , project)

exam: {'Emily', 'Kirsty', 'Beth', 'Andrew', 'Sue'}
project: {'Stuart', 'Emily', 'Kirsty', 'Ian'}

In [23]:
print('Alunos que fizeram o exame e o projeto:', exam & project)

Alunos que fizeram o exame e o projeto: {'Emily', 'Kirsty'}

In [24]:
print('Alunos que fizeram o exame apenas:', exam - project)

Alunos que fizeram o exame apenas: {'Andrew', 'Beth', 'Sue'}

In [26]:
print('Alunos que fizeram o projeto apenas:', project - exam)

Alunos que fizeram o projeto apenas: {'Stuart', 'Ian'}

In [27]:
print('Alunos que fizeram um ou ambos:', exam | project)

Alunos que fizeram um ou ambos: {'Emily', 'Kirsty', 'Beth', 'Stuart', 'Ian', 'Andrew', 'Sue'}

In [28]:
print('Alunos que fizeram apenas um, mas não ambos', exam ^ project)

Alunos que fizeram apenas um, mas não ambos {'Beth', 'Stuart', 'Ian', 'Andrew', 'Sue'}